body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#141414;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:black;
}

nav h1{
    color:red;
}

nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:60px 20px;
    background:#1f1f1f;
}

.hero input{
    padding:10px;
    width:300px;
    border-radius:5px;
    border:none;
    margin-top:15px;
}

.contenedor{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    padding:40px;
    justify-content:center;
}
.card{
    width:200px;
    background:#1c1c1c;
    border-radius:8px;
    overflow:hidden;
    cursor:pointer;
    transition:transform 0.3s;
}

.card:hover{
    transform:scale(1.08);
}

.card img{
    width:100%;
    height:280px;
    object-fit:cover;
}

.card h3{
    text-align:center;
    padding:10px;
    font-size:16px;
}
.detalle{
    text-align:center;
    padding:40px;
}

video{
    margin-top:20px;
    border-radius:10px;
}
.admin-panel{
    padding:40px;
    text-align:center;
}

.admin-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
    margin-top:40px;
}

.admin-card{
    background:#1c1c1c;
    padding:30px;
    border-radius:10px;
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:transform 0.3s, background 0.3s;
}

.admin-card:hover{
    background:#e50914;
    transform:scale(1.05);
}
.formulario{
    padding:40px;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    width:400px;
    margin:auto;
}

form input, form button{
    padding:10px;
    border-radius:5px;
    border:none;
}

form button{
    background:#e50914;
    color:white;
    cursor:pointer;
}



